.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: var(--brazilpe);
    padding: 20px 40px;
    border-radius: 10px;
}

.text {
    font-size: 24px;
    line-height: 100%;
    color: var(--pagetitles);
}